{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class=col>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>

<h2 class="text-center text-dark my-3">My Favourite Products</h2>

{% if favourites %}
    {% for product in favourites.products.all %}
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="card-img" alt="{{ product.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{ product.name }}</h3>
                        <p class="card-text"><small class="text-muted">€ {{ product.price }}</small></p>
                    </div>
                </div>
            </div>
            <div class="text-center mb-2">
                <a href="{% url 'remove_from_favourites' product.id %}" class="btn btn-black rounded-0 mt-3" role="button"><i class="far fa-heart"></i> Remove From Favourites</a>
                <a href="{% url 'product_details' product.id %}" class="btn btn-outline-black rounded-0 mt-3" role="button"><i class="far fa-cart"></i>See details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="w-50 mx-auto justify-content-center align-items-center"><hr></div>
    <h5 class="text-center text-dark mb-3">You don't have any favourite products yet. <br><br>Start browsing <a href="{% url 'products' %}" class="btn btn-black rounded-0 my-1"> now</a>. </h5>
</div>
    {% endfor %}
{% endif %}







{% endblock %}