{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class=col></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col my-auto">
                <h1>How it works</h1>
                <div class="my-5">
                    <p>You can select an existing image or order your own. Once you purchase an image it becomes your property with all the copyrights.</p>
                </div>        
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my-auto">
                <h4>Existing Images</h4>
                <p>There are existing images of various places and objects that are ready to be purchased. You can find anything from a stunning view of a famous sight or a very remote rural cottage.</p>
                <div class="my-5">
                    <h4>
                        <a href="" class="buy-image-button btn btn-lg text-uppercase py-2">
                            Go to images
                        </a>
                    </h4>
                </div>        
            </div>
            <div class="col-md-6 my-auto">
                <h1>Order a custom-made image</h1>
                <p>You can order your own image of what interests you in Ireland. Just fill out our "Order your own" form and we will get back to you with details.</p>
                <div class="my-5">
                    <h4>
                        <a href="" class="buy-image-button btn btn-lg text-uppercase py-2">
                            Order an image
                        </a>
                    </h4>
                </div>        
            </div>
        </div>
    </div>
{% endblock %}