{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class=col></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-6 justify-content-center bg-col">
                <h3 class="text-center">Oh Hello Ireland!</h3>
                <div class="my-4 text-center">
                    <p>Our store offers a variety of authentic images of Ireland taken by Irish photographers. You can find anything from a stunning view of a famous sight to a very remote rural cottage, from a rare jellyfish species to a portrait of the most typical Irish person. Whatever it is on the image, it is captured through the eyes of the Irish culture and heritage.</p>
                </div>        
            </div>
        </div>
        <div class="row justify-content-evenly align-items-center row-home">
            <div class="col col-sm-6 text-left bg-col">
                <h4>How it works</h4>
                <p>All our images can be purchased in several frame sizes. Every image comes with the digital copy and the copyrights. You will receive the digital copy of the purchased image upon successful purchase. Happy shopping!</p>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="buy-image-button btn btn-lg text-uppercase">
                            Go to images
                        </a>
                    </h4>
                </div>        
            </div>
            <div class="col col-sm-6 text-left home-image-all"></div>
        </div>
    </div>
{% endblock %}