<footer class="text-center text-lg-start bg-light text-muted border-top mt-auto">
    <div class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom social-links-row">
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.google.com/gmail/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://www.instagram.com/?hl=en" class="me-4 text-reset" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://ie.linkedin.com/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/" class="me-4 text-reset" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
    <div class="text-center p-3 copyright-row">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://hello-ireland.herokuapp.com/">Oh, Hello Ireland!</a>
    </div>
</footer>
