{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class=col></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-9 justify-content-center bg-col">
                <h3 class="text-center">About "Oh Hello Ireland!"</h3>
                <div class="my-4 text-center">
                    <p>About us info.</p>
                </div>        
            </div>
        </div>
        <div class="row justify-content-evenly align-items-center row-home">
            <div class="col col-6 col-sm-9 col-md-7 text-left bg-col">
                <h4>Our reviews</h4>
                <p>Reviews</p>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="buy-image-button btn btn-lg text-uppercase">
                            Go to images
                        </a>
                    </h4>
                </div>        
            </div>
            <div class="col col-6 text-left home-image-all"></div>
        </div>
    </div>
{% endblock %}