{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class=col></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col col-md-9 justify-content-center bg-col">
                <h3 class="text-center">About Us</h3>
                <div class="my-4 text-center">
                    <p>We are a group of photographers from different corners of the Republic of Ireland. We love to share images of persons, places and things from all around Ireland. We are based in Galway and we have connections with photographers from all over Ireland so you can expect to find photos from any part of Ireland.</p>
                </div>        
            </div>
        </div>
    </div>

        <div class="accordion about-accordion mx-auto mb-4" id="accordionExample">
            <div class="card about-accord-card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                <button class="btn btn-link btn-block text-center text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4>Our reviews</h4>
                </button>
                </h2>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="reviews-container shadow p-3 mb-3">
                        {% for review in reviews %}
                            <div class="text-dark">
                                {% if review.rating == 5 %}
                                <p><strong>Rating: </strong>{{ review.rating }}</p>
                                <p class="review-body">{{ review.review_message }}</p>
                                <p class="small-text">Added by: <i><strong>{{ review.user_name }}</strong></i>
                                on {{ review.date_added|date:"d-M-Y" }}</p>
                                <hr>
                                {% endif %}
                            </div>
                        {% empty %}
                            <div class="text-dark">Be the first one to leave a review</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            </div>


            <div class="card about-accord-card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left text-center text-dark collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <h4>Our Photographers</h4>
                </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                

                    <!-- Carousel for photographers -->

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="9000">
                        <ol class="carousel-indicators">
                          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row justify-content-center align-items-center mb-5">
                                  <div class="col-4">
                                    <img src="https://res.cloudinary.com/djaujigfg/image/upload/v1640778660/ireland_images/photographer_5_bh2erc.jpg" class="d-block w-100 carousel-photographer-img" alt="photographer">
                                  </div>
                                  <div class="col-4">Hi, I'm Nate from Galway. I've been a photographer for over 15 years. I love taking photos of people and landscapes. My favourite part of being a photographer is to be able to capture a true Irish nature and culture through my camera lense. I hope you enjoy my work.</div>
                              </div>
                            
                          </div>
                          <div class="carousel-item">
                            <div class="row justify-content-center align-items-center mb-5">
                                <div class="col-4">
                                    <img src="https://res.cloudinary.com/djaujigfg/image/upload/v1640778661/ireland_images/photographer_7_cdsexw.png" class="d-block w-100 carousel-photographer-img" alt="photographer">
                                </div>
                                <div class="col-4">I'm Nikkie from Kildare. I've been in the photography for over 10 years. I'm mostly into wildlife and sea life. I love being part of Oh Hello Ireland project and I hope you enjoy what we do. Remember to leave your thoughts in a review. This will inspire us to create more and better!</div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row justify-content-center align-items-center mb-5">
                                <div class="col-4">
                                    <img src="https://res.cloudinary.com/djaujigfg/image/upload/v1640778660/ireland_images/photographer_6_ufoy8s.jpg" class="d-block w-100 carousel-photographer-img" alt="photograpehr">
                                </div>
                                <div class="col-4">Hi, I'm Kev from Wicklow. Most of the photos of buildings on Oh Hello Ireland website are taken by me as I specialise in architectural photography. I have over 12 years of experience in architectural photography and over 20 years of photography in general. Just remember that the more you buy, the more we create! Thank you for your business and don't forget to come back for more.</div>
                            </div>
                          
                        </div>
                          
                        </div>
                        <button class="carousel-control-prev car-prev-btn" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </button>
                        <button class="carousel-control-next car-next-btn" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </button>
                      </div>

                    <!-- End of accordion for photographers -->
                </div>
            </div>
            </div>
        </div>
 
{% endblock %}
